# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# PyCharm files
.idea/

# saved model
result/joke_generation_saves/model/*.pth

# saved results
result/joke_generation_saves/outputs
 
# glove data
data/joke_generation_data/*.txt